.bg-orange{
    background-repeat: no-repeat;
    background-image: url('../images/svg/bgorange.svg');
    /* background-size: '100vh'; */
    animation: drop 3s ease forwards;
    animation-iteration-count:1;
    width: '100%';
    
}
@keyframes drop{
    0%{transform: translateY(-600px)}
    1%{transform: translateY(-590px)}
    2%{transform: translateY(-580px)}
    3%{transform: translateY(-570px)}
    4%{transform: translateY(-560px)}
    5%{transform: translateY(-550px)}
    6%{transform: translateY(-540px)}
    7%{transform: translateY(-530px)}
    8%{transform: translateY(-520px)}
    9%{transform: translateY(-510px)}
    10%{transform: translateY(-500px)}
    11%{transform: translateY(-490px)}
    12%{transform: translateY(-480px)}
    13%{transform: translateY(-470px)}
    14%{transform: translateY(-460px)}
    15%{transform: translateY(-450px)}
    16%{transform: translateY(-440px)}
    17%{transform: translateY(-430px)}
    18%{transform: translateY(-420px)}
    19%{transform: translateY(-400px)}
    20%{transform: translateY(-390px)}
    22%{transform: translateY(-380px)}
    24%{transform: translateY(-370px)}
    26%{transform: translateY(-360px)}
    28%{transform: translateY(-350px)}
    30%{transform: translateY(-340px)}
    32%{transform: translateY(-330px)}
    34%{transform: translateY(-320px)}
    36%{transform: translateY(-310px)}
    38%{transform: translateY(-300px)}
    40%{transform: translateY(-290px)}
    42%{transform: translateY(-280px)}
    44%{transform: translateY(-270px)}
    46%{transform: translateY(-260px)}
    58%{transform: translateY(-250px)}
    60%{transform: translateY(-240px)}
    62%{transform: translateY(-230px)}
    64%{transform: translateY(-220px)}
    66%{transform: translateY(-210px)}
    68%{transform: translateY(-200px)}
    70%{transform: translateY(-190px)}
    72%{transform: translateY(-180px)}
    74%{transform: translateY(-170px)}
    78%{transform: translateY(-160px)}
    80%{transform: translateY(-150px)}
    72%{transform: translateY(-140px)}
    74%{transform: translateY(-130px)}
    76%{transform: translateY(-120px)}
    78%{transform: translateY(-110px)}
    80%{transform: translateY(-100px)}
    82%{transform: translateY(-90px)}
    84%{transform: translateY(-80px)}
    86%{transform: translateY(-70px)}
    88%{transform: translateY(-60px)}
    90%{transform: translateY(-50px)}
    92%{transform: translateY(-40px)}
    94%{transform: translateY(-30px)}
    96%{transform: translateY(-20px)}
    98%{transform: translateY(-10px)}
    100%{transform: translateY(0px)}
  }