@keyframes falling{
    0%{
      top:-100%;
    }
    20%{
      top:-50%;
    }
    40%{
      top:0%;
    }
    60%{
      top:20%;
    }
    80%{
      top:30%;
    }
    100%{
      top:40%;
    }
  }

  @keyframes falling4{
    0%{
      top:-100%;
    }
    50%{
      top:0%;
    }
    80%{
      top:40%;
    }
    100%{
      top:100%;
    }
  }

   @keyframes falling5{
    0%{
      top:-10%;
    }
    10%{
      top:-10%;
    }
    20%{
      top:-10%;
    }
    30%{
      top:-5%;
    }
    40%{
      top:0%;
    }
    50%{
      top:5%;
    }
    60%{
      top:10%;
    }
    70%{
      top:5%;
    }
    80%{
      top:0%;
    }
    90%{
      top:-5%;
    }
    100%{
      top:-10%;
    }
  }