@font-face {
  font-family: "Overlock";
  font-style: normal;
  font-weight: 400;
  src: local("Overlock"), local("Overlock"),
    url("./assets/fonts/overlock/Overlock-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Sniglet";
  font-style: normal;
  font-weight: 400;
  src: local("Sniglet"), local("Sniglet"),
    url("./assets/fonts/sniglet/Sniglet-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
